/* 
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

   1. Styles Généraux 
   
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e9ecf4;
}

a {
  color: var(--Crimson-Shadow);
  transition: color 0.5s ease;
  text-decoration: none;
}

a:hover {
  color: var(--The-Wild-Apothecary);
}

/* 
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

     2. Styles de la Scrollbar (Barre de défilement)
     
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: var(--The-Wild-Apothecary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--Cupids-eye);
}

/* 
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

     3. Conteneurs de Grille (Grid Containers)
     
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-md);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.special-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: var(--spacing-lg);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

/* 
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

     4. Titre du Site (Site Title)
     
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */

.site-title {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Cupids-eye);
  z-index: 2;
}

.intro_btn {
  position: absolute;
  bottom: 27%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0;
  z-index: 2;
  width: 200px;
}

.intro_btn:hover {
  background-color: var(--Aqua-Mirage);
  color: var(--Radiant-Orchid);
  border: 1px solid var(--Aqua-Mirage);
}

@media screen and (max-width: 1024px) {
  .site-title {
    top: 50%;
  }

  .intro_btn {
    bottom: 50px;
  }
}

/* 
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

     5. Éléments textuels
     
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */

.description {
  grid-column: span 12;
  margin: var(--spacing-xl) var(--spacing-lg);
}
@media screen and (min-width: 1024px) {
  .description {
    margin: 0;
    margin-top: var(--spacing-xxxxl);
  }
}

.instructions {
  grid-column: span 8;
}

.instructions h2 {
  position: relative;
  font-family: "Anton SC", sans-serif;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.05em;
  display: inline-block;
}

.instructions h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: var(--The-Wild-Apothecary);
  z-index: -1;
}

.instruction-img {
  grid-column: span 4;
  margin-top: var(--spacing-lg);
}
.instruction-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.instruction__section {
  margin-top: var(--spacing-lg);
}

.button {
  padding: var(--spacing-sm) var(--spacing-xxxxl);
  background-color: var(--The-Wild-Apothecary);
  border-radius: var(--spacing-xxl);
  color: var(--Cupids-eye);
  text-decoration: none;
  transition: 0.4s ease;
  text-align: center;
  display: block;

}
.button:hover {
  background-color: var(--Aqua-Mirage);
  color: var(--Radiant-Orchid);
}

span {
  color: var(--The-Wild-Apothecary);
}


.legal__title {
  margin-top: 18vh;
  grid-column: span 12;
}
.legal__content {
  grid-column: span 12;
  margin-bottom: var(--spacing-xxxxl);
}