
   .registration-form {
    margin-top: 18dvh;
    grid-column: span 12;
    background-color: var(--Cupids-eye);
    padding: var(--spacing-lg);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
    margin-bottom: 25vh;
}

/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   
   1. Champs du Formulaire 

   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

.form-I {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-C {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__name {
    display: flex;
    gap: var(--spacing-md);
}

.form__first {
    display: flex;
    gap: var(--spacing-md);
    align-items: start;
    margin-bottom: var(--spacing-md);
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
}

.form__input {
    padding: var(--spacing-sm);
    border: 1px solid var(--Crimson-Shadow);
    border-radius: 8px;
}

/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   
    2. Icone | Image du Formulaire

   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

   .registration-form__icon {
    width: 35px;
    height: 35px;
    padding: var(--spacing-sm);
    border-radius: var(--spacing-sm);
    background-color: var(--Crimson-Shadow);
}
.form__image-I {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    grid-column: 2 / span 1;
    max-height: 500px;
}

.form__image-C {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 12px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

   3. Bouton d'envoi du Formulaire

   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

.form__actions {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form__submit {
    padding: 12px;
    border-radius: var(--spacing-xl);
    background-color: var(--Crimson-Shadow);
    color: var(--Cupids-eye);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    width: 90%;
    border: none;
    transition: background-color 0.3s;
}
