.footer {
    background-color: var(--Crimson-Shadow); /* Fond bleu foncé */
    padding: var(--spacing-lg);
    text-align: center;
    color: var(--Cupids-eye); /* Couleur du texte en blanc */
    border-top-left-radius: var(--spacing-xl); /* Radius en haut à gauche */
    border-top-right-radius: var(--spacing-xl); /* Radius en haut à droite */
    margin-top: var(--spacing-xxl);
}

.footer__logo {
    margin-bottom: var(--spacing-md);
}

.footer__logo-image {
    max-height: 40px; /* Taille maximale de l'image */
}

.footer__text {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}

.footer__link {
    color: var(--Cupids-eye); /* Couleur du lien en vert clair */
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer__link:hover {
    color: var(--Aqua-Mirage); /* Couleur du lien en vert clair */
}